body{
    margin: 0px;
    padding: 0px;
}

h1{
    margin: 0px;
    padding: 0px;
}

.bandeau  {
    width:95.4%;
    height:100%;
    background-color: lightblue;
    margin: 0px;
    padding: 45px 44px;
}

.pied {
    width:93.2%;
    height:100%;
    background-color:crimson;
    margin: 0px;
    padding: 66px 65px;
}

.main {
    display: flex;
    flex-direction: row;
   
}

.menu {
    display: flex;
    flex-direction: column;

}

.menu-haut {
    width: 100%;
    height: 100%;
    background-color: blue;
    margin: 0px;
    padding: 100px 0px;
}

.menu-bas {
    width: 100%;
    height: 100%;
    background-color: chartreuse;
    margin: 0px;
    padding: 100px 0px;
}

.central {
    
    background-color: yellow; 
    padding: 285.5px 855px; 
}

.p {
    
    float:left;
    position: absolute;
    width: 50%;
    height: 50%;
    margin: 100px;
    padding: 10px 10px; 
}

.news {
	width: 250px;
    height: 250px;
    background-color: #ff0000;
    top: 127px;
    right: 0px;
    position: absolute;
	}
