body{
    margin: 0px;
    padding: 0px;
}

h1{
    margin: 0px;
    padding: 0px;
}

.projet  {
    width:95.4%;
    height:100%;
    background-color: lightblue;
    margin: 0px;
    padding: 45px;
}

.contenue {
    width:68%;
    height:0%;
    background-color: yellow;
    margin: 0px;
    padding: 300px;

}

.pied {
    width:93.2%;
    height:100%;
    background-color:crimson;
    margin: 0px;
    padding: 66px;
}

.main {
    display: flex;
    flex-direction: row;
}